@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --defaultBackground: rgb(48, 152, 201);
  --colorBackground: rgb(65, 0, 170);
  --defualtLightFont: rgb(221, 221, 221);
  --defaultDarkFont: rgb(49, 49, 49);
  --colorLightFont: rgb(202, 202, 202);
  --colorDarkFont: #fff;
  --defaultDarkAccent: rgb(57, 49, 131);
  --defaultLightAccent: rgb(86, 61, 155);
  --colorAccent: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* Flexbox and positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  width: 100vw;
  /* Styling */
  background-color: var(--defaultBackground);
  color: var(--defaultDarkFont);
  font-family: Roboto, system-ui, Calibri, sans-serif;
}

.title-container {
  /* Flexbox and positioning */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* Styling */
}

.title-container > h3 {
  color: var(--defualtLightFont);
}

h1,
h2,
h3 {
  text-align: center;
  line-height: 32px;
}

.btn-container {
  display: flex;
  gap: 25px;
  border: var(--defaultDarkAccent) solid 3px;
  padding: 15px;
  background: url("img/RPSBackground.jpg");
}

.btn-container > button {
  width: 100px;
  height: 100px;
  background-color: var(--defaultDarkAccent);
  color: var(--defualtLightFont);
  border: var(--defaultLightAccent) solid 3px;
}

.btn-container > button:hover {
  transform: scale(1.1) rotate(5deg);
}

.footer {
  position: absolute;
  bottom: 10px;
}

.footer > span {
  font-size: 12px;
  font-weight: bold;
  color: var(--defualtLightFont);
}
